<div class="header">
    <app-adminheader class="sidenav-toggle"(click)='sideNav.toggle()'></app-adminheader>
    <div class="sidenav">
        <app-sidenav #sideNav mode="side" opened></app-sidenav>
    </div>
</div>
<!-- <mat-sidenav-container>
    <mat-sidenav #sideNav mode="side" opened>
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">                   
            <div class=" Main"> Main content</div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container> -->