

    <div class="toolbar">
      
        <app-adminheader mat-icon (sidenavToggled)="sideNavStatus = $event;"></app-adminheader>
     </div>

<mat-drawer-container class="main" >
    <mat-drawer #drawer mode="side" opened  [ngClass]="{'app-sidenav-open': sideNavStatus }">
        <app-sidenav [sideNavStatus]="sideNavStatus"  ></app-sidenav >
    </mat-drawer>

    <mat-drawer-content class="main-content"  [ngClass]="{'main-content-shrink' : sideNavStatus , 'main-con': !sideNavStatus ,'margin': sideNavStatus}">        
            <div > <router-outlet></router-outlet></div>        
    </mat-drawer-content>

</mat-drawer-container>
