mat-toolbar{
    padding:0 8px;
    height:100%;
}
.image-overlay{
    background-color: rgba(66, 163, 219, 0.5);
}
.menu-spacer{
    flex: 1 1 auto;  
}
// .drawer-toggle{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size:1.5rem;
//     cursor: pointer;
//     color: white;
//     mat-icon{
//         font-size: 30px;
//     }
// }
// .drawer-toggle:hover{
//     background-color: white;
//     color:rgba(66, 163, 219, 0.5);
// }
a{
    text-decoration: none;
    color:white;
    
}