* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section { 
  background-image: url('/assets/images/bgimage2.jpg');    
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;

}
.card-wrapper{ 
  display: flex;
  align-items: center;
  justify-content: center;
 

}

mat-card {
 min-width: 500px;
 max-width:500px;
  margin: 1em auto; 
  text-align: center;  
  padding:10px;
 
  mat-card-header{
    display: block;
    margin-top: 10px;
    
  }
}
a{
  font-size:16px;
  text-decoration: none;
  font-weight: 500;
}
.btn-flex{
  display: flex;
  justify-content:space-evenly;
  align-items: center;  
} 
.g_id_signin{
  width:230px;
}
.fb-login-button-main-element{
  font-size: 14px;
  
  font-family: sans-serif;
  height:44px;
  padding:10px 0; 
}
mat-hint{
  .forgotPassword{
    font-size: 12px;
    text-decoration: none;

  }
}
