<section>

  <div class="card-wrapper">
    <mat-card>
      <mat-card-header>
        <mat-card-title> User Profile</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="profileForm" (ngSubmit)="update()">

          <!----Name Feild---->
          <p>
            <mat-form-field hintLabel="Max 15 characters" appearance="outline" style="width: 100%;">
              <mat-label>Name</mat-label>
              <input matInput #input formControlName="name" maxlength="15" placeholder="Enter Name">
              <mat-icon matSuffix>create</mat-icon>
              <mat-hint align="end">{{input.value.length || 0}}/15</mat-hint>
              <mat-error *ngIf="profileForm.controls['name'].hasError('required')">
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </p>

          <!----Email Feild---->
          <p>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email">
              <mat-icon matSuffix>block</mat-icon>
            </mat-form-field>
          </p>
          <!----Role  Feild---->
          <p>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Role</mat-label>
              <input matInput formControlName="role">
              <mat-icon matSuffix>block</mat-icon>
            </mat-form-field>
          </p>
          <!----Mobile No Feild---->
          <p>
            <mat-form-field color="primary" appearance="outline" style="width: 100%;">
              <mat-label>Mobile No</mat-label>
              <input matInput formControlName="mobileNo">
              <mat-hint>Must be in 10 digits</mat-hint>

            </mat-form-field>
          </p>

          <!----Button for save---->
          <p>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="btnSave" type="Submit">Save</button>
            </mat-card-actions>

          </p>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</section>