<div class="mainWrapper">
<app-header></app-header>
<div class="card-wrapper">
<mat-card>
    <mat-card-header>Forgot Password</mat-card-header>
    <form>
       <mat-form-field>
        <mat-label>Email </mat-label>
        <input matInput type="email" placeholder="Enter Email">     
       </mat-form-field>   
       
       <mat-card-actions>
        <button mat-raised-button color="primary" type="Submit" (click)="submit()">Forgot Password</button>
        
    </mat-card-actions>   
    </form>
</mat-card>
</div>
</div>