table {
    width: 100%;
   
  }
  .mat-elevation-z8{
    border:2px solid rgb(16, 136, 206);
    box-shadow: 1px 5px 5px 5px grey;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .avatar{
    width: 50px;
    height: 50px;
  }
  .exp-btn{
    margin-bottom:10px;
    margin-right: 3px;
    background-color:rgb(16, 136, 206) ;
    color: white;   
  }
  .exp-btn:hover{
    background-color:rgb(171, 211, 235);
    color:rgb(7, 68, 104);
  }