mat-icon {
    position: relative;
    left: 254px;
    right: 0px;
    top: -16px;
}

mat-dialog-content {

    justify-content: center;
}

.actionBtn {
    background-color: rgb(16, 136, 206);
    color: white;

}