<section class="main-wrapper">
  <h1 class="section title">About Us</h1>
  <hr class="featurette-divider">

  <div class="row featurette ">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-muted">It’ll blow your
          mind.</span></h2>
      <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error sequi ab velit aut a quia aliquam reprehenderit
        sapiente voluptatem fuga facilis, cupiditate mollitia, hic ipsa animi.
        sapiente voluptatem fuga facilis, cupiditate mollitia, hic ipsa animi. Delectus dolorum esse commodi est velit.Delectus dolorum esse commodi est velit.
      </p>
    </div>
    <div class="col-md-7  order-md-1">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300"
        src="https://cdn1.vectorstock.com/i/thumb-large/40/45/dashboard-admin-panel-with-control-vector-39994045.jpg" >

    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7  order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-muted">It’ll blow your
          mind.</span></h2>
      <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error sequi ab velit aut a quia aliquam reprehenderit
        sapiente voluptatem fuga facilis, cupiditate mollitia, hic ipsa animi. Delectus dolorum esse commodi est velit.
      </p>
    </div>
    <div class="col-md-5  order-md-1">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="350" height="350"
        src="https://cdn1.vectorstock.com/i/thumb-large/40/45/dashboard-admin-panel-with-control-vector-39994045.jpg" >

    </div>
  </div>


  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7  order-md-1">
      <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-muted">It’ll blow your
          mind.</span></h2>
      <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error sequi ab velit aut a quia aliquam reprehenderit
        sapiente voluptatem fuga facilis, cupiditate mollitia, hic ipsa animi. Delectus dolorum esse commodi est velit.
      </p>
    </div>
    <div class="col-md-5  order-md-2">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="350" height="350"
        src="https://cdn1.vectorstock.com/i/thumb-large/40/45/dashboard-admin-panel-with-control-vector-39994045.jpg" >

    </div>
  </div>



  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->


</section>