<header>
    <h1>Contact Us Form Using Angular Material</h1>
  </header>
  <div class="content">
    <form>
      <mat-form-field>
        <input matInput placeholder="Name" required>
       
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter your email" required>
        
      </mat-form-field>
      <mat-form-field>
        <input type="tel" matInput placeholder="Telephone" required>
        
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Subject" required>
       
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Textarea" required></textarea>
       
      </mat-form-field>
      <button mat-raised-button class="btn-custom">Send Now</button>
    </form>
  </div>
