@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
h1 {
  color:black;
  padding-top: 20px;
  margin: 0;
  text-align: center;
}

.content {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}

::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }

  mat-form-field {

    .mat-hint,
    input,
    ::placeholder,
    .mat-form-field-label {
      color: white;
    }
  }
}

form {
  width: 50%;
  background-color: #eee;
  padding: 30px;
  border-radius: 8px;

}

textarea {
  resize: none !important;
}


.mat-focused .mat-form-field-label {
  color: white !important;
}

.mat-input-element {
  caret-color: white !important;
}
.mat-form-field {
  width: 100%;
}

.btn-custom {
  background-color: #808e9b !important;
  color: white !important;
  padding-right: 8px !important;
  height: 40px;

  .material-icons {
    padding-left: 2px !important;
  }
}

@media(max-width:786px) {
  form {
    width: 70%;
  }
}