
.sidenav{   
    color:white;
    height:calc(100vh - 4rem);   
    width:230px;
    margin:0 auto;
}
.sidenav-nav{
    list-style: none;
    height:100%;
    padding:0%;
    margin-bottom: 0; 
    padding-top:20px;  
}

.sidenav-item{   
    display: flex;
    align-items: center;
    height:50px;
}
.sidenav-nav-open .sidenav-item:hover{
    background-color:rgb(171, 211, 235);
    color:rgb(7, 68, 104);
    border-radius: 10px;
    cursor: pointer;
}

.sidenav-item {
    .sidenav-icon{

    font-size:28px;
    height:25px;
    width: 25px;
    margin-right:15px;
    margin-left:15px;
    text-align: center;
    line-height: 25px;
}
.sidenav-text{
    width: 170px;
    text-transform: capitalize;
}
}
